<div>
    <h2 id="page-heading">
        <span jhiTranslate="intershipSystemApp.attendanceRecord.home.title">Attendance Records</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-attendance-record" [routerLink]="['/attendance-record/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="intershipSystemApp.attendanceRecord.home.createLabel">
            Create new Attendance Record
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="attendanceRecords?.length === 0">
        <span jhiTranslate="intershipSystemApp.attendanceRecord.home.notFound">No attendanceRecords found</span>
    </div>
    <div class="table-responsive" *ngIf="attendanceRecords?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="internshipBatch"><span jhiTranslate="intershipSystemApp.attendanceRecord.internshipBatch">Internship Batch</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="punchTime"><span jhiTranslate="intershipSystemApp.attendanceRecord.punchTime">Punch Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="punchLocation"><span jhiTranslate="intershipSystemApp.attendanceRecord.punchLocation">Punch Location</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="attendanceStatus"><span jhiTranslate="intershipSystemApp.attendanceRecord.attendanceStatus">Attendance Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdTime"><span jhiTranslate="intershipSystemApp.attendanceRecord.createdTime">Created Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyTime"><span jhiTranslate="intershipSystemApp.attendanceRecord.modifyTime">Modify Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<!--            <th jhiSortBy="stuId.id"><span jhiTranslate="intershipSystemApp.attendanceRecord.stuId">Stu Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let attendanceRecord of attendanceRecords ;trackBy: trackId">
                <td><a [routerLink]="['/attendance-record', attendanceRecord.id, 'view' ]">{{attendanceRecord.id}}</a></td>
                <td>{{attendanceRecord.internshipBatch}}</td>
                <td>{{attendanceRecord.punchTime | date:'medium'}}</td>
                <td>{{attendanceRecord.punchLocation}}</td>
                <td>{{attendanceRecord.attendanceStatus}}</td>
                <td>{{attendanceRecord.createdTime | date:'medium'}}</td>
<!--                <td>{{attendanceRecord.modifyTime | date:'medium'}}</td>-->
<!--                <td>-->
<!--                    <div *ngIf="attendanceRecord.stuId">-->
<!--                        <a [routerLink]="['../student', attendanceRecord.stuId?.id, 'view' ]" >{{attendanceRecord.stuId?.id}}</a>-->
<!--                    </div>-->
<!--                </td>-->
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/attendance-record', attendanceRecord.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/attendance-record', attendanceRecord.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'attendance-record', { outlets: { popup: attendanceRecord.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="attendanceRecords?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
