<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-job-change-records-heading" jhiTranslate="intershipSystemApp.jobChangeRecords.home.createOrEditLabel">Create or edit a Job Change Records</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="intershipSystemApp.jobChangeRecords.unitChange" for="field_unitChange">Unit Change</label>
                    <input type="text" class="form-control" name="unitChange" id="field_unitChange"
                           formControlName="unitChange"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="intershipSystemApp.jobChangeRecords.positionChange" for="field_positionChange">Position Change</label>
                    <input type="text" class="form-control" name="positionChange" id="field_positionChange"
                           formControlName="positionChange"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="intershipSystemApp.jobChangeRecords.createTime" for="field_createTime">Create Time</label>
                    <div class="d-flex">
                        <input id="field_createTime" type="datetime-local" class="form-control" name="createTime" formControlName="createTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="intershipSystemApp.jobChangeRecords.interId" for="field_interId">Inter Id</label>
                    <select class="form-control" id="field_interId" name="interId" formControlName="interId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="intershipOption.id === editForm.get('interId').value?.id ? editForm.get('interId').value : intershipOption" *ngFor="let intershipOption of interships; trackBy: trackIntershipById">{{intershipOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
