<div>
    <h2 id="page-heading">
        <span jhiTranslate="intershipSystemApp.teacher.home.title">Teachers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-teacher" [routerLink]="['/teacher/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="intershipSystemApp.teacher.home.createLabel">
            Create new Teacher
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="teachers?.length === 0">
        <span jhiTranslate="intershipSystemApp.teacher.home.notFound">No teachers found</span>
    </div>
    <div class="table-responsive" *ngIf="teachers?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="teaId"><span jhiTranslate="intershipSystemApp.teacher.teaId">Tea Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="teaName"><span jhiTranslate="intershipSystemApp.teacher.teaName">Tea Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="gender"><span jhiTranslate="intershipSystemApp.teacher.gender">Gender</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="teaDepartment"><span jhiTranslate="intershipSystemApp.teacher.teaDepartment">Tea Department</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="skin"><span jhiTranslate="intershipSystemApp.teacher.skin">Skin</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdTime"><span jhiTranslate="intershipSystemApp.teacher.createdTime">Created Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyTime"><span jhiTranslate="intershipSystemApp.teacher.modifyTime">Modify Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let teacher of teachers ;trackBy: trackId">
                <td><a [routerLink]="['/teacher', teacher.id, 'view' ]">{{teacher.id}}</a></td>
                <td>{{teacher.teaId}}</td>
                <td>{{teacher.teaName}}</td>
                <td>{{teacher.gender}}</td>
                <td>{{teacher.teaDepartment}}</td>
                <td>{{teacher.skin}}</td>
                <td>{{teacher.createdTime | date:'medium'}}</td>
                <td>{{teacher.modifyTime | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/teacher', teacher.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/teacher', teacher.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'teacher', { outlets: { popup: teacher.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="teachers?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
