<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="intership">
            <h2><span jhiTranslate="intershipSystemApp.intership.detail.title">Intership</span> {{intership.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="intershipSystemApp.intership.batchName">Batch Name</span></dt>
                <dd>
                    <span>{{intership.batchName}}</span>
                </dd>
                <dt><span jhiTranslate="intershipSystemApp.intership.practiceType">Practice Type</span></dt>
                <dd>
                    <span>{{intership.practiceType}}</span>
                </dd>
                <dt><span jhiTranslate="intershipSystemApp.intership.course">Course</span></dt>
                <dd>
                    <span>{{intership.course}}</span>
                </dd>
                <dt><span jhiTranslate="intershipSystemApp.intership.beginIntership">Begin Intership</span></dt>
                <dd>
                    <span>{{intership.beginIntership}}</span>
                </dd>
                <dt><span jhiTranslate="intershipSystemApp.intership.endIntership">End Intership</span></dt>
                <dd>
                    <span>{{intership.endIntership}}</span>
                </dd>
                <dt><span jhiTranslate="intershipSystemApp.intership.tutorScore">Tutor Score</span></dt>
                <dd>
                    <span>{{intership.tutorScore}}</span>
                </dd>
                <dt><span jhiTranslate="intershipSystemApp.intership.masterScore">Master Score</span></dt>
                <dd>
                    <span>{{intership.masterScore}}</span>
                </dd>
                <dt><span jhiTranslate="intershipSystemApp.intership.intershipScore">Intership Score</span></dt>
                <dd>
                    <span>{{intership.intershipScore}}</span>
                </dd>
                <dt><span jhiTranslate="intershipSystemApp.intership.companyCreditCode">Company Credit Code</span></dt>
                <dd>
                    <span>{{intership.companyCreditCode}}</span>
                </dd>
                <dt><span jhiTranslate="intershipSystemApp.intership.companyName">Company Name</span></dt>
                <dd>
                    <span>{{intership.companyName}}</span>
                </dd>
                <dt><span jhiTranslate="intershipSystemApp.intership.internship">Internship</span></dt>
                <dd>
                    <span>{{intership.internship}}</span>
                </dd>
                <dt><span jhiTranslate="intershipSystemApp.intership.companyContactName">Company Contact Name</span></dt>
                <dd>
                    <span>{{intership.companyContactName}}</span>
                </dd>
                <dt><span jhiTranslate="intershipSystemApp.intership.companyContactJob">Company Contact Job</span></dt>
                <dd>
                    <span>{{intership.companyContactJob}}</span>
                </dd>
                <dt><span jhiTranslate="intershipSystemApp.intership.companyContactPhone">Company Contact Phone</span></dt>
                <dd>
                    <span>{{intership.companyContactPhone}}</span>
                </dd>
                <dt><span jhiTranslate="intershipSystemApp.intership.masterContactName">Master Contact Name</span></dt>
                <dd>
                    <span>{{intership.masterContactName}}</span>
                </dd>
                <dt><span jhiTranslate="intershipSystemApp.intership.masterContactSkill">Master Contact Skill</span></dt>
                <dd>
                    <span>{{intership.masterContactSkill}}</span>
                </dd>
                <dt><span jhiTranslate="intershipSystemApp.intership.masterContactPhone">Master Contact Phone</span></dt>
                <dd>
                    <span>{{intership.masterContactPhone}}</span>
                </dd>
                <dt><span jhiTranslate="intershipSystemApp.intership.urgentContactName">Urgent Contact Name</span></dt>
                <dd>
                    <span>{{intership.urgentContactName}}</span>
                </dd>
                <dt><span jhiTranslate="intershipSystemApp.intership.urgentContactPhone">Urgent Contact Phone</span></dt>
                <dd>
                    <span>{{intership.urgentContactPhone}}</span>
                </dd>
                <dt><span jhiTranslate="intershipSystemApp.intership.urgentContactAddress">Urgent Contact Address</span></dt>
                <dd>
                    <span>{{intership.urgentContactAddress}}</span>
                </dd>
                <dt><span jhiTranslate="intershipSystemApp.intership.accommodationType">Accommodation Type</span></dt>
                <dd>
                    <span>{{intership.accommodationType}}</span>
                </dd>
                <dt><span jhiTranslate="intershipSystemApp.intership.accommodationAddress">Accommodation Address</span></dt>
                <dd>
                    <span>{{intership.accommodationAddress}}</span>
                </dd>
                <dt><span jhiTranslate="intershipSystemApp.intership.companyAddress">Company Address</span></dt>
                <dd>
                    <span>{{intership.companyAddress}}</span>
                </dd>
                <dt><span jhiTranslate="intershipSystemApp.intership.companyDetailAddress">Company Detail Address</span></dt>
                <dd>
                    <span>{{intership.companyDetailAddress}}</span>
                </dd>
                <dt><span jhiTranslate="intershipSystemApp.intership.companyNature">Company Nature</span></dt>
                <dd>
                    <span>{{intership.companyNature}}</span>
                </dd>
                <dt><span jhiTranslate="intershipSystemApp.intership.scale">Scale</span></dt>
                <dd>
                    <span>{{intership.scale}}</span>
                </dd>
                <dt><span jhiTranslate="intershipSystemApp.intership.industry">Industry</span></dt>
                <dd>
                    <span>{{intership.industry}}</span>
                </dd>
                <dt><span jhiTranslate="intershipSystemApp.intership.companyProfile">Company Profile</span></dt>
                <dd>
                    <span>{{intership.companyProfile}}</span>
                </dd>
                <dt><span jhiTranslate="intershipSystemApp.intership.isInsurance">Is Insurance</span></dt>
                <dd>
                    <span>{{intership.isInsurance}}</span>
                </dd>
                <dt><span jhiTranslate="intershipSystemApp.intership.insuranceCompanyAndPolicyNumber">Insurance Company And Policy Number</span></dt>
                <dd>
                    <span>{{intership.insuranceCompanyAndPolicyNumber}}</span>
                </dd>
                <dt><span jhiTranslate="intershipSystemApp.intership.isInternshipAgreement" [ngbTooltip]="'intershipSystemApp.intership.help.isInternshipAgreement' | translate">Is Internship Agreement</span></dt>
                <dd>
                    <span>{{intership.isInternshipAgreement}}</span>
                </dd>
                <dt><span jhiTranslate="intershipSystemApp.intership.annex">Annex</span></dt>
                <dd>
                    <span>{{intership.annex}}</span>
                </dd>
                <dt><span jhiTranslate="intershipSystemApp.intership.createTime">Create Time</span></dt>
                <dd>
                    <span>{{intership.createTime}}</span>
                </dd>
                <dt><span jhiTranslate="intershipSystemApp.intership.modifyTime">Modify Time</span></dt>
                <dd>
                    <span>{{intership.modifyTime}}</span>
                </dd>
                <dt><span jhiTranslate="intershipSystemApp.intership.stuId">Stu Id</span></dt>
                <dd>
                    <div *ngIf="intership.stuId">
                        <a [routerLink]="['/student', intership.stuId?.id, 'view']">{{intership.stuId?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/intership', intership.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
