<jhi-page-ribbon></jhi-page-ribbon>
<div>
    <router-outlet name="metrics"></router-outlet>
</div>
<div class="container-fluid">
    <div class="card jh-card">
        <router-outlet></router-outlet>
        <router-outlet name="popup"></router-outlet>
    </div>
    <!--    <jhi-footer></jhi-footer>-->
</div>


<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title">欢迎进入职业院校顶岗实习管理系统</h1>
        <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                      [translateValues]="{username: account.login}"> You are logged in as user "{{account.login}}
                    ". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign
                    in</a>
            </div>
            <!--            <div class="alert alert-warning" *ngSwitchCase="false">-->
            <!--                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;-->
            <!--                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>-->
            <!--            </div>-->
        </div>

        <p jhiTranslate="home.question">
            If you have any question on JHipster:
        </p>

        <ul>
            <li><a href="http://sx.niit.edu.cn/login.html" target="_blank"
                   rel="noopener" jhiTranslate="home.link.bugtracker">JHipster bug tracker</a></li>
            <li><a href="https://baike.baidu.com/item/%E9%A1%B6%E5%B2%97%E5%AE%9E%E4%B9%A0/10616309?fr=aladdin"
                   target="_blank" rel="noopener" jhiTranslate="home.link.homepage">JHipster
                homepage</a></li>
            <li><a href="https://baijiahao.baidu.com/s?id=1641464666250960646&wfr=spider&for=pc" target="_blank"
                   rel="noopener"
                   jhiTranslate="home.link.stackoverflow">JHipster on Stack Overflow</a></li>
<!--            <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener"-->
<!--                   jhiTranslate="home.link.chat">JHipster public chat room</a></li>-->
<!--            <li><a href="https://twitter.com/java_hipster" target="_blank" rel="noopener"-->
<!--                   jhiTranslate="home.link.follow">follow @java_hipster on Twitter</a></li>-->
        </ul>
<!--        <p>-->
<!--            <span jhiTranslate="home.like">If you like JHipster, don't forget to give us a star on</span> <a-->
<!--            href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener"-->
<!--            jhiTranslate="home.github">GitHub</a>!-->
<!--        </p>-->
    </div>
</div>
