<div>
    <h2 id="page-heading">
        <span jhiTranslate="intershipSystemApp.sharingCenter.home.title">Sharing Centers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sharing-center" [routerLink]="['/sharing-center/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="intershipSystemApp.sharingCenter.home.createLabel">
            Create new Sharing Center
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="sharingCenters?.length === 0">
        <span jhiTranslate="intershipSystemApp.sharingCenter.home.notFound">No sharingCenters found</span>
    </div>
    <div class="table-responsive" *ngIf="sharingCenters?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fileName"><span jhiTranslate="intershipSystemApp.sharingCenter.fileName">File Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fileSize"><span jhiTranslate="intershipSystemApp.sharingCenter.fileSize">File Size</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="uploadedBy"><span jhiTranslate="intershipSystemApp.sharingCenter.uploadedBy">Uploaded By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="department"><span jhiTranslate="intershipSystemApp.sharingCenter.department">Department</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="operating"><span jhiTranslate="intershipSystemApp.sharingCenter.operating">Operating</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdTime"><span jhiTranslate="intershipSystemApp.sharingCenter.createdTime">Created Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<!--            <th jhiSortBy="modifyTime"><span jhiTranslate="intershipSystemApp.sharingCenter.modifyTime">Modify Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
<!--            <th jhiSortBy="stuId.id"><span jhiTranslate="intershipSystemApp.sharingCenter.stuId">Stu Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sharingCenter of sharingCenters ;trackBy: trackId">
                <td><a [routerLink]="['/sharing-center', sharingCenter.id, 'view' ]">{{sharingCenter.id}}</a></td>
                <td>{{sharingCenter.fileName}}</td>
                <td>{{sharingCenter.fileSize}}</td>
                <td>{{sharingCenter.uploadedBy}}</td>
                <td>{{sharingCenter.department}}</td>
                <td>{{sharingCenter.operating}}</td>
                <td>{{sharingCenter.createdTime | date:'medium'}}</td>
<!--                <td>{{sharingCenter.modifyTime | date:'medium'}}</td>-->
<!--                <td>-->
<!--                    <div *ngIf="sharingCenter.stuId">-->
<!--                        <a [routerLink]="['../student', sharingCenter.stuId?.id, 'view' ]" >{{sharingCenter.stuId?.id}}</a>-->
<!--                    </div>-->
<!--                </td>-->
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/sharing-center', sharingCenter.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sharing-center', sharingCenter.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'sharing-center', { outlets: { popup: sharingCenter.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="sharingCenters?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
