<div>
    <h2 id="page-heading">
        <span jhiTranslate="intershipSystemApp.absenceRecord.home.title">Absence Records</span>
<!--        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-absence-record" [routerLink]="['/absence-record/new']">-->
<!--            <fa-icon [icon]="'plus'"></fa-icon>-->
<!--            <span  jhiTranslate="intershipSystemApp.absenceRecord.home.createLabel">-->
<!--            Create new Absence Record-->
<!--            </span>-->
<!--        </button>-->
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="absenceRecords?.length === 0">
        <span jhiTranslate="intershipSystemApp.absenceRecord.home.notFound">No absenceRecords found</span>
    </div>
    <div class="table-responsive" *ngIf="absenceRecords?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="absenceStartTime"><span jhiTranslate="intershipSystemApp.absenceRecord.absenceStartTime">Absence Start Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="absenceEndTime"><span jhiTranslate="intershipSystemApp.absenceRecord.absenceEndTime">Absence End Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="absenceDays"><span jhiTranslate="intershipSystemApp.absenceRecord.absenceDays">Absence Days</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="company"><span jhiTranslate="intershipSystemApp.absenceRecord.company">Company</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="remarks"><span jhiTranslate="intershipSystemApp.absenceRecord.remarks">Remarks</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdTime"><span jhiTranslate="intershipSystemApp.absenceRecord.createdTime">Created Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<!--            <th jhiSortBy="stuId.id"><span jhiTranslate="intershipSystemApp.absenceRecord.stuId">Stu Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let absenceRecord of absenceRecords ;trackBy: trackId">
                <td><a [routerLink]="['/absence-record', absenceRecord.id, 'view' ]">{{absenceRecord.id}}</a></td>
                <td>{{absenceRecord.absenceStartTime | date:'medium'}}</td>
                <td>{{absenceRecord.absenceEndTime | date:'medium'}}</td>
                <td>{{absenceRecord.absenceDays}}</td>
                <td>{{absenceRecord.company}}</td>
                <td>{{absenceRecord.remarks}}</td>
                <td>{{absenceRecord.createdTime | date:'medium'}}</td>
<!--                <td>-->
<!--                    <div *ngIf="absenceRecord.stuId">-->
<!--                        <a [routerLink]="['../student', absenceRecord.stuId?.id, 'view' ]" >{{absenceRecord.stuId?.id}}</a>-->
<!--                    </div>-->
<!--                </td>-->
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/absence-record', absenceRecord.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/absence-record', absenceRecord.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'absence-record', { outlets: { popup: absenceRecord.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="absenceRecords?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
